@charset "utf-8";

a {
    text-decoration: none;
    color: black;
}

/*メインの画像をグリッドの配置にする (ここから) */
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    list-style: none;
}
/*メインの画像をグリッドの配置にする (ここまで) */
.product-list img {
    width: 100%;
}

/*wrapperで表示サイズを調整する(ここから) */
.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}
/*wrapperで表示サイズを調整する(ここまで) */

/* headerとfooterを横並びにする(ここから) */
#header {
    display: flex;
    justify-content: flex;
}
#footer .menu {
    display: flex;
    list-style: none;
}
.menu li {
    margin-right: 15px;
}
/* headerとfooterを横並びにする(ここまで) */ 

/*View More を中央に配置(ここから)*/
.link-text {
    display: block;
    text-align: center;
    margin-top: 40px;
}
/*View More を中央に配置(ここまで)*/

/* レスポンシブ対応デザイン*/
@media (max-width: 600px){
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .product-list p {
        font-size: 0.7rem;
        line-height: 1.4;
        margin-top: 6px;
    }
    .site-title img {
        height: 24px;
        width: auto;
    }
    .wrapper {
        padding: 0 1.5;
        margin: auto;
    }
    #header {
        justify-content: space-between;
    }
}